.contacts {
  background-color: $secondary-background-color;
}

.contacts__title {
  @include secondary-font(16px, 20px, uppercase);
  color: $second-color-text;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  color: $any-color-text;
}

.contacts__map {
  min-height: 362px;
  border: none;
  display: block;

  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: $desktop) {
    width: 135%;
  }
}

.contacts__map-wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #f2f2f2;

  @media (max-width: $tablet) {
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__wrapper {
  @media (min-width: ($desktop)) {
    grid-template-rows: 95px 1fr 106px;
    grid-template-columns: 1fr 1220px 1fr;
    display: grid;
  }

  @media (max-width: ($tablet)) {
    display: block;
  }

  @media (max-width: ($mobile)) {
    display: block;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: ($tablet - 1px)) {
    min-height: 60px;
    padding: 26px 20px;
  }

  @media (min-width: $tablet) {
    min-height: 80px;
    column-gap: 300px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    width: 565px;
    column-gap: 90px;
    padding: 60px 80px;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
  }
}
