.contacts {
  background-color: $secondary-background-color;
}

.contacts__title {
  @include secondary-font(16px, 20px, uppercase);
  color: $second-color-text;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  color: $any-color-text;
}

.contacts__map {
  display: block;
  width: 100%;
}

.contacts__wrapper {
  position: relative;
}

.contacts__container {
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  display: flex;

  @media (min-width: $desktop) {
    position: absolute;
    z-index: 1;
    top: 115px;
    left: 110px;
    padding: 60px 80px;
    width: 500px;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
