.examples__container {
  @media (max-width: calc($tablet - 1px)) {
    padding: 25px 20px 40px;
  }

  @media (min-width: $tablet) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 69px auto 0;
    padding: 0;
  }
}


.examples__title {
  @include secondary-font(36px, 40px);
  color: $second-color-text;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 150px;
  }
}


.examples__price {
  @include secondary-font(20px, 20px, uppercase);
  color: $second-color-text;
  display: flex;
  gap: 150px;
  padding-bottom: 150px;

  @media (min-width: $tablet) {
    justify-content: end;
    gap: 20px;
  }

  @media (max-width: $mobile) {
    display: block;
    text-align: center;
    font-size: 14px;
  }
}

.examples__item {
  @include clean-list;
  @include clean-text;
}


.examples__description {
  margin: 0;

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    min-height: 72px;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    max-width: 436px;
    margin-bottom: 69px;
  }
}

.examples__statistics {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr;
  }
}


.examples__statistics-list {
  display: flex;
  gap: 50px;

  @media (max-width: $mobile) {
    gap: 250px;
  }
}


.examples {
  position: relative;

  @media (min-width: $tablet) {
    background-image: linear-gradient(#ffffff 65%, #eaeaea 1%);
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(#ffffff 25%, #eaeaea 1%);
  }

  @media (max-width: $mobile) {
    background-image: linear-gradient(#ffffff 5%, #eaeaea 1%);
  }
}


.examples__slider {
  @media (min-width: $desktop) {
    position: absolute;
    top: 1;
    right: 0;
  }

  @media (max-width: $tablet) {
    width: 560px;
  }
}
