.examples__container {
  @media (max-width: calc($tablet - 1px)) {
    padding: 25px 20px 40px;
  }

  @media (min-width: $tablet) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 69px auto 0;
    padding: 0;
  }
}


.examples__title {
  @include secondary-font(36px, 40px);
  color: $second-color-text;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    /* desktop styles */
  }
}


.examples__price {
  @include secondary-font(14px, 20px, uppercase);
  color: $second-color-text;
}

.examples__item {
  @include clean-list;
  @include clean-text;
}

.examples__description {
  min-height: 108px;
  margin: 0;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    min-height: 72px;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.examples__statistics {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr;
  }
}


.examples__statistics-list {
  display: flex;
}


.examples__slider {
  background-image: linear-gradient(#ffffff 60%, #eaeaea 60%);
}
