.main-catalog__item-link {
  @include clean-list;
  @include clean-text;
}

.main-catalog__item-title {
  @include secondary-font(16px, 20px);
  color: $second-color-text;
  margin: 0;

  @media (min-width: ($tablet - 1px)) {
    margin-bottom: 41px;
    padding: 0 20px;
  }

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

  @media (max-width: $mobile) {
    width: 40%;
    margin-top: -90px;
    margin-bottom: 81px;
    margin-left: 140px;
  }
}

.main-catalog__card-text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (max-width: $mobile) {
    font-size: 12px;
    line-height: 16px;
  }
}

.main-catalog__image-card:hover,
.main-catalog__image-card:focus {
  opacity: 0.7;
  transition: all 0.3s;
}

.main-catalog__image-card:active {
  opacity: 0.3;
  transition: all 0.3s;
}
