.services-program {
  background-color: $secondary-background-color;
  position: relative;
  padding: 80px;
}

.services-program__title {
  @include secondary-font(24px, 37px, uppercase);
  color: #000000;
  margin: 0 0 0 60px;

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 29px;
    padding-left: 70px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px;
    padding-left: 70px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 50px;
    padding-left: 100px;
  }
}

.services-program__description {
  color: $second-color-text;

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 38px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}

.services-program__link {
  @include secondary-font(16px, 16px, uppercase);
  color: #000000;
  position: relative;

  @include clean-list;
  @include clean-text;

  @media (min-width: $tablet) {
    column-gap: 25px;
    font-size: 20px;
  }
}

.services-program__link::after {
  position: absolute;
  width: 50px;
  height: 10px;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-repeat: no-repeat;
  background-color: currentColor;
  content: "";
  transition: width 0.3s ease;
}

.services-program__link:hover::after {
  width: 80px;
}

.services-program__link::after:active {
  top: 81px;
  left: 67%;
  width: 140px;
  height: 194px;
}

.services__weight-loss::before {
  content: "";
  top: 40px;
  left: 60px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: $image-background-color;
  border-radius: 50%;
  position: absolute;
}

.services__weight-loss::after {
  content: "";
  display: block;
  top: 35px;
  left: 65px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-position: center;
}

.services__weight-gain::before {
  content: "";
  top: 40px;
  left: 60px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: $image-background-color;
  border-radius: 50%;
  position: absolute;
}

.services__weight-gain::after {
  content: "";
  display: block;
  top: 35px;
  left: 45px;
  width: 125px;
  height: 100px;
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-position: center;
}
